@media (max-width: 954px) {
  .categories {
    margin-top: 5.6rem;
    margin-bottom: 7.2rem;
  }
}

@media (max-width: 600px) {
  .buy__pages {
    margin-bottom: 2rem;
  }
  .categories__inner {
    margin: 0 -0.4rem;
  }
}

@media (max-width: 480px) {
  .categories {
    margin-bottom: 4rem;
  }
}
