.footer__main {
  background: #2c2529;
  padding-top: 6rem;
  padding-bottom: 7.6rem;
}
@media (max-width: 954px) {
  .footer {
    padding-bottom: 4rem;
  }
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 954px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.footer__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
}
@media (max-width: 954px) {
  .footer__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding: 2.2rem 0;
    border-bottom: 1px solid #a3a3a3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__item:first-child {
    border-top: 1px solid #a3a3a3;
  }
}
.footer__item.accCl .footer__title:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.footer__item.accCl .footer__title:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer__item-arrow {
  display: none;
}
@media (max-width: 954px) {
  .footer__item-arrow {
    display: block;
    padding-right: 1.4rem;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.3333333333;
  color: #f7f7f9;
  margin-bottom: 0.8rem;
  position: relative;
  width: 100%;
}
.footer__title--last {
  display: none;
}
@media (max-width: 954px) {
  .footer__title--last {
    display: block;
  }
}
@media (max-width: 954px) {
  .footer__title {
    margin-bottom: 0;
  }
}
.footer__title:after,
.footer__title:before {
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  background-color: #a3a3a3;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: none;
}
@media (max-width: 954px) {
  .footer__title:after,
  .footer__title:before {
    display: block;
  }
}
.footer__title:after {
  right: 2.15rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.footer__title:before {
  right: 1.4rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 954px) {
  .footer__item-block {
    width: 100%;
    margin-top: 2.2rem;
  }
}

.footer__list li {
  margin-bottom: 0.8rem;
}
.footer__list li:last-child {
  margin-bottom: 0;
}
@media (max-width: 954px) {
  .footer__list li {
    margin-bottom: 1.8rem;
  }
}
@media (max-width: 954px) {
  .footer__list {
    width: 100%;
    margin-top: 2.2rem;
  }
}

@media (max-width: 954px) {
  .dn {
    display: none;
  }
}

.footer__link {
  font-size: 1.8rem;
  line-height: 1.3333333333;
  color: #a3a3a3;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer__link:hover {
  color: #fff;
}

.footer__copy {
  background: #262123;
  padding: 2.8rem 0;
}

.footer__copy-text {
  font-size: 1.4rem;
  line-height: 1.7142857143;
  text-align: center;
  color: #a3a3a3;
}
@media (max-width: 954px) {
  .footer__copy-text {
    width: 15rem;
    margin: auto;
    overflow: hidden;
    height: 2.4rem;
    padding: 0;
  }
}

.footer__tel {
  display: block;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.3333333333;
  color: #f7f7f9;
  margin-bottom: 0.8rem;
}
@media (max-width: 954px) {
  .footer__tel {
    color: #a3a3a3;
    font-weight: 400;
  }
}

.footer__mail {
  display: block;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.3333333333;
  color: #f7f7f9;
  margin-bottom: 0.8rem;
}
@media (max-width: 954px) {
  .footer__mail {
    color: #a3a3a3;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 954px) {
  .footer__socials {
    margin-top: 1.8rem;
  }
}

.footer__social {
  margin-right: 0.4rem;
  cursor: pointer;
}
.footer__social:last-child {
  margin-right: 0;
}
.footer__social svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: #cecece;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer__social:hover svg {
  fill: #38be76;
}

.footer__address {
  font-size: 1.8rem;
  line-height: 178%;
  color: #a3a3a3;
  margin-top: 3.6rem;
}
@media (max-width: 954px) {
  .footer__address {
    margin-top: 1.8rem;
  }
}
