.page__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__navigation-item {
  margin-right: 3.2rem;
  &:last-child {
    margin-right: 0;
  }
}

.page__navigation-link {
  font-size: 1.6rem;
  line-height: 1.375;
  color: #a3a3a3;
  padding-bottom: 0.2rem;
  position: relative;
}

.page__navigation-link:after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #38be76;
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.page__navigation-link:before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #38be76;
  position: absolute;
  bottom: -0.2rem;
  right: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.page__navigation-link:hover {
  color: #161314;
}

.page__navigation-link:hover:after {
  width: 50%;
}

.page__navigation-link:hover:before {
  width: 50%;
}

.page__navigation-link.active {
  color: #161314;
  border-bottom: 2px solid #38be76;
}
.page__navigation-link.active:hover:after {
  display: none;
}
.page__navigation-link.active:hover:before {
  display: none;
}

@media (max-width: 954px) {
  .page__navigation {
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 0.6rem;
    height: 3.1rem;
    scrollbar-width: none;
  }
  .page__navigation::-webkit-scrollbar {
    display: none;
  }

  .page__navigation-item {
    margin-right: 1.6rem;
  }

  .page__navigation-link {
    border: 1px solid #cecece;
    border-radius: 4rem;
    padding: 0.6rem 1.6rem;
    color: #161314;
    font-size: 1.4rem;
  }
  .page__navigation-link:after,
  .page__navigation-link:before {
    display: none;
  }
  .page__navigation-link.active {
    background: #38be76;
    color: #fff;
    border: 1px solid #38be76;
  }
}
@media (max-width: 480px) {
  .page__navigation {
    padding-top: 2.4rem;
    height: 5rem;
  }
}
