.card__product.hide {
  display: none;
}

.page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page__header span {
  font-size: 1.4rem;
  line-height: 1.4285714286;
  color: #a3a3a3;
  margin: 0 0.8rem;
}

@media (max-width: 954px) {
  .page__header span {
    display: none;
  }
}

@media (max-width: 954px) {
  .card__page-header {
    display: none;
  }
}

.page__header-btn {
  margin-right: 1.6rem;
}

.page__header-button {
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.015em;
  color: #38be76;
  border: 2px solid #38be76;
  border-radius: 8px;
  padding: 0 1.6rem;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.page__header-button:hover {
  background-color: #38be76;
  color: #fff;
}

.page__header-link {
  font-size: 1.4rem;
  line-height: 1.4285714286;
  color: #a3a3a3;
}
@media (max-width: 954px) {
  .page__header-link {
    display: block;
    margin-right: 1.6rem;
  }
}

@media (max-width: 954px) {
  .page__name {
    display: none;
  }

  .page__name--dekst {
    display: none;
  }
}

.page__title {
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 1.3333333333;
  color: #161314;
  margin: 1.2rem 0 2.4rem;
}
@media (max-width: 954px) {
  .page__title {
    font-size: 1.8rem;
    margin-bottom: 0;
    font-weight: 700;
  }
}

.card {
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}
@media (max-width: 954px) {
  .card {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0.8rem solid #f3f3f1;
    padding-bottom: 2.4rem;
  }
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 954px) {
  .card__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.card__left {
  width: 50%;
  margin-right: 2rem;
}
@media (max-width: 954px) {
  .card__left {
    width: 100%;
  }
  .card__left .specifications {
    display: none;
  }
  .card__left .page__name {
    display: none;
  }
}
@media (max-width: 954px) and (max-width: 954px) {
  .card__left .page__name {
    display: block;
    padding: 2.4rem 0;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
    margin-top: 2rem;
  }
  .card__left .page__name .page__title {
    margin-bottom: 1.6rem;
    margin-top: 0;
  }
}
@media (max-width: 954px) and (max-width: 555px) {
  .card__left .page__name {
    padding: 1.6rem 0;
  }
}
.card__left .card__right-slide {
  display: none;
}
@media (max-width: 954px) {
  .card__left .card__right-slide {
    display: block;
  }
}

.card__left-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 954px) {
  .card__left-photo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 954px) {
  .card__left-photo-dekst {
    display: none;
  }
}

.card__left-min {
  margin-right: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 954px) {
  .card__left-min {
    display: none;
  }
}

.card__left-min-item {
  width: 100%;
  max-width: 80px;
  margin-bottom: 2rem;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__left-min-item img {
  border-radius: 0.8rem;
  width: 100%;
}
.card__left-min-item:last-child {
  margin-bottom: 0;
}
.card__left-min-item.active {
  border: 2px solid #38be76;
}

.card__arrow {
  margin-bottom: 2.4rem;
  cursor: pointer;
}
.card__arrow svg {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #f3f3f1;
}
.card__arrow:hover svg {
  stroke: #38be76;
}

.card__left-big {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__left-big-discount {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  color: #38be76;
  background: #ffffff;
  border-radius: 2.4rem;
  padding: 0.6rem 1.6rem;
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
}
@media (max-width: 954px) {
  .card__left-big-discount {
    display: none;
  }
}

.card__left-big-photo {
  max-width: 50.3rem;
}
.card__left-big-photo img {
  width: 100%;
  border-radius: 1.6rem;
}

.card__left-photos-mob-body .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide {
  flex-shrink: 0;
}

.card__left-photos-mob-body .swiper-slide img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.card__left-photos-mob-body .swiper-slide-active img {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.card__left-big-discount {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  color: #38be76;
  background: #ffffff;
  border-radius: 2.4rem;
  padding: 0.6rem 1.6rem;
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
}
@media (max-width: 954px) {
  .card__left-big-discount {
    display: none;
  }
}

.minimized {
  cursor: pointer;
  border: 1px solid #fff;
}
