.delivery {
  margin-top: 2rem;
  padding: 0 1rem;
  margin-bottom: 6.4em;
  .delivery__container {
    width: 100%;
    background: linear-gradient(
        89.73deg,
        rgba(251, 93, 73, 0.2) 38.14%,
        rgba(252, 191, 135, 0.2) 85.93%
      ),
      #fcbf87;
    border-radius: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 11.8rem;
    height: 100%;
    position: relative;
    min-height: 32rem;
    overflow: hidden;
  }
  @media (max-width: 1200px) {
    .delivery__container {
      padding-left: 5rem;
    }
  }
  @media (max-width: 954px) {
    .delivery__container {
      min-height: 45.9rem;
      padding-left: 7.9rem;
    }
  }
  @media (max-width: 650px) {
    .delivery__container {
      padding-left: 3rem;
    }
  }
  @media (max-width: 480px) {
    .delivery__container {
      min-height: 32.4rem;
    }
  }
}
